.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.box-layout__box {
    background: fade-out($color:white, $amount: 0.15);
    width:25rem;
    text-align: center;
    padding:$l-size $m-size;
    border-radius: 3px;
}

.box-layout__message {
    margin:0 0 $m-size 0;
    line-height:1;
}