.button {
    background: $blue;
    border:0;
    padding:$s-size;
    display: inline-block;
    font-size:$font-size-large;
    font-weight: 300;
    color:white;
    text-decoration: none;
    line-height: 1;

}


.button__link {
    background: none;
}

.button__secondary {
    background: #888888;
}