.header {
    background: $darkblue;  
}

.header__title {
    text-decoration: none;
    h1 {
        margin:0
    }
    color:white;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:$m-size 0;
}