.list-header {
    background: $off-white;
    display: flex;
    border:1px solid darken($color:$off-white, $amount: 7%);
    color:$grey;
    justify-content: space-between;
    padding:$s-size $m-size;
}

.list-item {
    display: flex;
    
    text-decoration: none;
    flex-direction: column;
    color:$dark-grey;
    border : 1px solid darken($color: $off-white, $amount: 7%);
    padding:$s-size;
    
    transform: background .3s ease;
    &:hover {
        background: $off-white;
    }
    margin-top: none;
    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        padding: $m-size;
        justify-content: space-between;
        align-items: center;
    }
}

.list-item__title {
    margin:0;
    word-break: break-all;
}
.list-body {
    margin-bottom:$m-size;
    @media (min-width:$desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}
.list-item__subtitle {
    font-size: $font-size-small;
    color:$dark-grey;
}

.list-item--message {
    justify-content: center;
    align-items: center;
}


.list-item__data {
    margin : $s-size 0 0 0;
    @media(min-width: $desktop-breakpoint) {
        margin:0;
        padding-left:$s-size;
    }
    
}