.page-header {
    background: #f7f7f7;
    padding:$l-size 0;
    margin-bottom: $l-size;
}

.page-header__title {
    font-weight: 300;
    margin:0;
    span  {
        font-weight:700;
    }
}
    
.page-header__actions {
    margin-top: $m-size;
}

