//colors
$dark-grey:#333333;
$blue:#1c88bf;
$darkblue:#364051;
$off-white:#f7f7f7;
$grey:#666;
//font-size
$font-size-large:1.8rem;
$font-size-small:1.4rem;
//spacing
$s-size:1.2rem;
$m-size :1.6rem; 
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:50rem;